{% extends "utilities/base.html" %}

{% block titulo %}Borrar tratamiento{% endblock %}

{% block contenido %}

  <div class="container-fluid">
      <div class="page-head">
        <h2>Borrar tratamiento</h2>
      </div>
      <form method="post">
        {% csrf_token %}
        <h3>¿Deseas borrar al tratamiento? {{ object }}</h3>
        <button type="submit" class="btn btn-success btn-rounded">Si</button>
        <a href="{% url 'Clinica:lista_tratamientos' %}"><input type="button" class="btn btn-danger btn-rounded" name="Cancel" value="Cancelar"></a>
      </form>
  </div><!--end container-->
{% endblock contenido%}
