{% extends "utilities/base.html" %}

{% block titulo %}Borrar cita{% endblock %}

{% block contenido %}
  <div class="container-fluid">
      <div class="page-head">
        <h2>Borrar cita</h2>
      </div>
      <form method="post">
        {% csrf_token %}
        <h4>¿Deseas borrar la cita? {{ object }}</h4><br>
        <button type="submit" class="btn btn-success btn-rounded">Borrar </button>
        <a href="{% url 'Clinica:lista_citas' %}"><input type="button" class="btn btn-danger btn-rounded" name="Cancel" value="Cancelar"></a>
      </form>
  </div><!--end container-->
{% endblock contenido%}
