{% extends "utilities/base.html" %}.

{% load static %}

{% block titulo %}Borrar cita{% endblock %}


{% block contenido %}
<div class="container-fluid">
  <div class="page-head">
    <h2>Eliminar Cita</h2>
  </div>
  <div class="modal-1" tabindex="-1" role="dialog">
      <div class="modal-dialog mb-0" role="document">
          <div class="modal-content">
            <form method="post">
              {% csrf_token %}
              <div class="modal-header">
                <h3 class="modal-title">¿Deseas eliminar la cita?</h3>
              </div>
              <div class="modal-body">
                   {{ object}} <br>
                </div>
              <div class="modal-footer">
                  <button type="submit" class="btn btn-success">Eliminar</button>
                  <a href="{% url 'Clinica:lista_citas' %}"><input type="button" class="btn btn-danger" name="Cancel" value="Cancelar"></a>
              </div>
            </form>
          </div>
      </div>
  </div>                                                           
</div><!--end container-->
{% endblock contenido%}
