{% extends "utilities/base.html" %}

{% block titulo %}Borrar Cita{% endblock %}

{% block contenido %}

  <div class="container-fluid">
      <div class="page-head">
        <h1>Borrar cita</h1>
      </div>
      <form method="post">
        {% csrf_token %}
        <h2>¿Deseas borrar al cita?: {{ object }}</h2>
        <button type="submit">Delete</button>
        <input type="button" value="Cancelar" onclick="history.back()">
      </form>
  </div><!--end container-->
{% endblock contenido%}
