{% extends "utilities/base.html" %}

{% block titulo %}Borrar hora{% endblock %}

{% block contenido %}
  <div class="container-fluid">
      <div class="page-head">
        <h1>Borrar hora</h1>
      </div>
      <form method="post">
        {% csrf_token %}
        <h2>¿Deseas borrar esta hora?: {{ object }}</h2>
        <button type="submit">Si</button>
        <a href="{% url 'Clinica:horario' %}"><input type="button" class="btn btn-danger btn-rounded" name="Cancel" value="Cancelar"></a>
      </form>
  </div><!--end container-->
{% endblock contenido%}
