{% extends "utilities/base.html" %}

{% block titulo %}Borrar usuario{% endblock %}

{% block contenido %}
  <div class="container-fluid">
      <div class="page-head">
        <h2>Crear cita</h2>
      </div>
      <form method="post">
          {% csrf_token %}
          {{ form.media.js }}
          {{form.ExpedientePaciente.label}}
          {{form.ExpedientePaciente}}
          {{form.Doctor.label}}
          {{form.Doctor}}
          {{form.Fecha.label}}
          {{form.Fecha}}
          {{form.Tratamiento.label}}
          {{form.Tratamiento}}
          {{form.HoraInicio.label}}
          {{form.HoraInicio}}<br><br>
          <button type="submit" class="btn btn-success btn-sm">Crear</button>
         <a href="{% url 'Clinica:lista_citas' %}"><input type="button" class="btn btn-danger btn-danger btn-sm" name="Cancel" value="Cancelar"></a>
      </form>
  </div><!--end container-->
{% endblock contenido%}
