{% extends "utilities/base.html" %}
{% block titulo %}Crear tratamiento{% endblock %}

{% block contenido %}
  <div class="container-fluid">
      <div class="page-head">
        <h2>Crear tratamiento</h2>
      </div>
  <form method="post">
      {%csrf_token%}
      {{form.Tratamiento.label}}
      {{form.Tratamiento}}
      {{form.Descripcion.label}}
      {{form.Descripcion}}

      <button type="submit" class="btn btn-success btn-rounded">Crear</button>
      <a href="{% url 'Clinica:lista_tratamientos' %}"><input type="button" name="Cancel"  class="btn btn-danger btn-rounded" value="Cancelar"></a>
  </form>
 </div>
<!--end container-->
{% endblock contenido%}
