{% extends "utilities/base.html" %}

{% block titulo %}Detalles doctor{% endblock %}

{% block contenido %}
<justify>
  <div class="container-fluid">
      <div class="page-head">
        <h2>Detalles del doctor</h2>
      </div>
      <div class="h5 mb-0 font-weight-bold text-gray-800">
        Nombres: {{ object.Usuario.Nombres}}<br>
        ApellidoPaterno: {{ object.Usuario.ApellidoPaterno}}<br>
        ApellidoMaterno: {{ object.Usuario.ApellidoMaterno}}<br>
        Genero: {{ object.Usuario.Genero}}<br>
        Correo: {{ object.Usuario.email}}<br>
        Telefono: {{ object.Usuario.Telefono}}<br>
        Especialidad: {{ object.Especialidad}}<br><br>

          <a href="{% url 'Clinica:lista_doctores' %}"><input type="button"  class="btn btn-success btn-lg"name="Return" value="Regresar"></a>
       
      </div>
  </div><!--end container-->
</justify>
{% endblock contenido%}
