{% extends "utilities/base.html" %}
{% block titulo %}Detalles paciente{% endblock %}

{% block contenido %}
<justify>
  <div class="container-fluid">
      <div class="page-head">
        <h2>Detalles del paciente</h2>
      </div>
      <div class="h5 mb-0 font-weight-bold text-gray-800">
        Nombre: {{ object.Nombres}} <br>
        Apellido Paterno: {{ object.ApellidoPaterno}} <br>
        ApellidoMaterno: {{ object.ApellidoMaterno}} <br>
        Fecha de nacimiento: {{ object.Nacimiento}} <br>
        Genero: {{ object.Genero}} <br>
        Correo: {{ object.Correo}} <br>
        Telefono: {{ object.Telefono}} <br>
        Alergias: {{ object.Alergias}} <br>
        Padecimientos: {{ object.Padecimientos}} <br><br>
      
        <a href="{% url 'Clinica:lista_pacientes' %}"><input type="button"  class="btn btn-success btn-lg"name="Return" value="Regresar"></a>
      </div>
  </div><!--end container-->
</justify>
{% endblock contenido%}

