{% extends "utilities/base.html" %}.
{% load static %}
{% block titulo %}Detalles doctor{% endblock %}

{% block contenido %}
<div class="container-fluid">
  <div class="page-head">
    <h2>Detalles del doctor</h2>
  </div>
  <div class="modal-1" tabindex="-1" role="dialog">
      <div class="modal-dialog mb-0" role="document">
          <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title">{{ object.Usuario.Nombres}} </h5>
              </div>
              <div class="modal-body">
                <div class="h5">
                 
                  ApellidoPaterno: {{ object.Usuario.ApellidoPaterno}}<br>
                  ApellidoMaterno: {{ object.Usuario.ApellidoMaterno}}<br>
                  Genero: {{ object.Usuario.Genero}}<br>
                  Correo: {{ object.Usuario.email}}<br>
                  Telefono: {{ object.Usuario.Telefono}}<br>
                  Especialidad: {{ object.Especialidad}}<br><br>
                </div>
              <div class="modal-footer">
                  <a href="{% url 'Clinica:lista_doctores' %}"><input type="button" class= "btn btn-success" name="Return" value="Regresar"></a>
              </div>
          </div>
      </div>
  </div>                                                           
</div><!--end container-->
{% endblock contenido%}