{% extends "utilities/base.html" %}

{% block titulo %}Detalles usuario{% endblock %}

{% block contenido %}
  <div class="container-fluid">
      <div class="page-head">
        <h1>Detalles del usuario</h1>
      </div>
      <div class="h5 mb-0 font-weight-bold text-gray-800">
        {{ object.Nombres}} <br>
        {{ object.ApellidoPaterno}} <br>
        {{ object.ApellidoMaterno}} <br>
        {{ object.Genero}} <br>
        {{ object.Nacimiento}} <br>
        {{ object.email}} <br>
        {{ object.Telefono}} <br>
        {{ object.date_joined}} <br>
        <a href="{% url 'Clinica:lista_usuarios' %}"><input type="button" class= "btn btn-success btn-rounded" name="Return" value="Regresar"></a>
      </div>
  </div><!--end container-->
{% endblock contenido%}
