{% extends "utilities/base.html" %}

{% block titulo %}Doctor citas{% endblock %}

{% block contenido %}
  <div class="container-fluid">
      <div class="page-head">
        <p class="h1">Lista de citas</p>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card m-b-30">
                <div class="card-body table-responsive">
                    <form class="form-group mb-1">
                      <p class="h6" style="display: inline; margin-bottom: 10px;">Ingrese el campo: </p>
                      <input type="text" name="search" id="id_search" class="form-control-sm" style="border: 1px solid #dee2e6; border-width: 1px; margin-bottom: 10px;" placeholder="Buscar..." aria-controls="datatable">
                      <select name="filter_field" id="id_filter_field" aria-controls="datatable" class="form-control-sm" style="margin-bottom: 10px; border: 1px solid #dee2e6;">
                        <option value="all">Todos los campos</option>
                        <option value="Nombres">Doctor</option>
                        <option value="email">Doctor</option>
                        <option value="Telefono">Fecha</option>
                      </select>
                      <input type="submit" class="btn btn-success btn-sm" style="margin-bottom: 3px;" value="Buscar">
                      <a href="{% url 'Clinica:crear_cita' %}"><input type="button" class="btn btn-success btn-sm" style="margin-bottom: 3px; float: right;" name="crear" value="Crear cita"></a>
                    </form>
                    <div class="table-odd">
                        <table id="datatable" class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Paciente</th>
                                <th>Fecha</th>
                                <th>Hora</th>
                                <th>Detalle</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                               
                               
                               
                              </tr>
                            </thead>
                            <tbody>
                              {% for Cita in object_list %}
                              <tr>
                                <td>{{ Cita.ExpedientePaciente }}</td>
                                <td>{{ Cita.Fecha }}</td>
                                <td>{{ Cita.HoraInicio }}</td>
                                <td><center><a href="{% url 'Clinica:detalles_cita' Cita.pk%}"><span class="mdi mdi-eye"></span></a></center></td>
                                <td><center><a href="{% url 'Clinica:editar_cita' Cita.pk%}"><span class="ti-pencil"></span></a></center></td>
                                <td><center><a href="{% url 'Clinica:borrar_cita' Cita.pk%}"><span class="mdi mdi-delete-forever"></span></a></center></td>
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->
  </div>
{% endblock contenido%}
