{% extends "utilities/base.html" %}

{% block titulo %}Editar usuario{% endblock %}

{% block contenido %}
<div class="container-fluid">
    <div class="page-head">
            <h1>Editar usuario</h1>
    </div>
    <div class="">
        <form method="post">
            {%csrf_token%}
            {{form}}
            <button type="submit">Crear</button>
            <a href="{% url 'Clinica:lista_usuarios' %}"><input type="button" name="Cancel" value="Cancelar"></a>
        </form>
    </div>
</div><!--end container-->
{% endblock contenido%}
