{% extends "utilities/base.html" %}
{% block titulo %}Editar tratamiento{% endblock %}

{% block contenido %}
<div class="container-fluid">
      <div class="page-head">
        <h2>Editar tratamiento</h2>
      </div>
    <form method="post">
        {%csrf_token%}
        {{form}}
        <button type="submit" class="btn btn-success btn-rounded">Editar</button>
        <a href="{% url 'Clinica:lista_tratamientos' %}"><input type="button" class="btn btn-danger btn-rounded" name="Cancel" value="Cancelar"></a>
    </form>
</div>
<!--end container-->
{% endblock contenido%}
