{% extends "utilities/base.html" %}
{% block titulo %}Editar usuario{% endblock %}
{% block contenido %}
<div class="container-fluid">
    <div class="page-head">
        <p class="h2">Editar Usuario</p>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="card m-b-30">
                    <div class="card-body table-responsive">
                        <form method="post">
                            {% csrf_token %}
                            Usuario: {{ object.username }} <br>

                            <p class="h6" style="margin-bottom: 5px;">Nombre: </p>
                            {{ form.Nombres }}
                            <p class="h6" style="margin-bottom: 5px; margin-top: 10px;">Apellido Paterno: </p>
                            {{ form.ApellidoPaterno }}
                            <p class="h6" style="margin-bottom: 5px; margin-top: 10px;">Apellido Materno: </p>
                            {{ form.ApellidoMaterno }}
                            <br>
                            <p class="h6" style="display: inline; margin-bottom: 10px;">Género: </p>
                            {{ form.Genero }}
                            <p class="h6" style="display: inline; margin-bottom: 10px;">Fecha de nacimiento: </p>
                            {{ form.Nacimiento }}
                            <p class="h6" style="margin-bottom: 5px;">Correo: </p>
                            {{ form.email }}
                            <p class="h6" style="margin-bottom: 5px; margin-top: 10px;">Teléfono: </p>
                            {{ form.Telefono }}
                            <br><br>
                            <div align="right">
                                <button type="submit" class="btn btn-success">Guardar cambios</button>
                                <a href="{% url 'Clinica:lista_usuarios' %}"><input type="button" class="btn btn-danger"name="Cancel" value="Cancelar"></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div><!--end row-->
    </div>
</div><!--end container-->
{% endblock contenido%}
