{% extends "utilities/base.html" %}

{% block titulo %}Editar cita{% endblock %}

{% block contenido %}
<div class="container-fluid">
    <div class="page-head">
        <h2>Editar cita</h2>
    </div>
    <div class="">
      <form method="post">
        {% csrf_token %}
        {{form.ExpedientePaciente.label}}
        {{form.ExpedientePaciente}}
        {{form.Doctor.label}}
        {{form.Doctor}}
        {{form.Fecha.label}}
        {{form.Fecha}}
        {{form.Tratamiento.label}}
        {{form.Tratamiento}}
        {{form.HoraInicio.label}}
        {{form.HoraInicio}}<br><br>
        <button type="submit" class="btn btn-success btn-sm">Editar</button>
        <a href="{% url 'Clinica:lista_citas' %}"><input type="button" class="btn btn-danger btn-danger btn-sm" name="Cancel" value="Cancelar"></a>
      </form>
    </div>
</div><!--end container-->
{% endblock contenido%}
