{% extends "utilities/base.html" %}

{% block titulo %}Editar paciente{% endblock %}

{% block contenido %}
<div class="container-fluid">
    <div class="page-head">
            <h2>Editar paciente</h2>
    </div>
    <div class="">
        <form method="post">
            {%csrf_token%}
            {{form.Nombres.label}}
            {{form.Nombres}}
            {{form.ApellidoPaterno.label}}
            {{form.ApellidoPaterno}}
            {{form.ApellidoMaterno.label}}
            {{form.ApellidoMaterno}}
            {{form.Genero.label}}
            {{form.Genero}}
            {{form.Nacimiento.label}}
            {{form.Nacimiento}}
            {{form.Direccion.label}}
            {{form.Direccion}}
            {{form.Correo.label}}
            {{form.Correo}}
            {{form.Telefono.label}}
            {{form.Telefono}}
            {{form.Alergias.label}}
            {{form.Alergias}}
            {{form.Padecimientos.label}}
            {{form.Padecimientos}}<br>
            <button type="submit" class="btn btn-success btn-sm">Guardar cambios</button>.
            <a href="{% url 'Clinica:lista_pacientes' %}"><input type="button" class="btn btn-danger btn-sm" name="Cancel" value="Cancelar"></a>
        </form>
    </div>
</div><!--end container-->
{% endblock contenido%}


