

{% extends "utilities/base.html" %}
{% block titulo %}Editar paciente{% endblock %}

{% block contenido %}
<div class="container-fluid">
    <div class="page-head">
        <p class="h2">Editar Paciente</p>
        <div class="row">
            <div class="col-lg-12 col-sm-12">
                <div class="card m-b-30">
                    <div class="card-body table-responsive">
                        <form method="post">
                            {% csrf_token %}
                            <p class="h6" style="margin-bottom: 5px;">Nombre: </p>
                            {{ form.Nombres }}
                            <p class="h6" style="margin-bottom: 5px; margin-top: 10px;">Apellido Paterno: </p>
                            {{ form.ApellidoPaterno }}
                            <p class="h6" style="margin-bottom: 5px; margin-top: 10px;">Apellido Materno: </p>
                            {{ form.ApellidoMaterno }}
                            <br>
                            <p class="h6" style="display: inline; margin-bottom: 10px;">Género: </p>
                            {{ form.Genero }}
                            <p class="h6" style="display: inline; margin-bottom: 10px;">Fecha de nacimiento: </p>
                            {{ form.Nacimiento }}<br><br>
                            <p class="h6" style="margin-bottom: 5px;">Dirección: </p>
                            {{form.Direccion}}
                            <p class="h6" style="margin-bottom: 5px;">Correo: </p>
                            {{form.Correo}}
                            <p class="h6" style="margin-bottom: 5px; margin-top: 10px;">Teléfono: </p>
                            {{ form.Telefono }}
                            <br>
                            <p class="h6" style="margin-bottom: 5px; margin-top: 10px">Alergias: </p>
                            {{ form.Alergias }}
                            <br>
                            <p class="h6" style="margin-bottom: 5px; margin-top: 10px ">Padecimientos: </p>
                            {{ form.Padecimientos }}
                            <br><br><br>
                            <button type="submit" class="btn btn-success">Guardar cambios</button>
                            <a href="{% url 'Clinica:lista_pacientes' %}"><input type="button" class="btn btn-danger"name="Cancel" value="Cancelar"></a>
                        </form>
                    </div>
                </div>
            </div>
        </div><!--end row-->
    </div>
</div><!--end container-->
{% endblock contenido%}

