{% extends "utilities/base.html" %}

{% block titulo %}Horario doctor{% endblock %}

{% block contenido %}
  <div class="container-fluid">
      <div class="page-head">
        <p class="h2">Horario doctor</p>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card m-b-30">
                <div class="card-body table-responsive">












                    <div class="table-odd">
                        <table id="datatable" class="table table-bordered">
                            <thead>
                              <tr>
                               
                                <th>Día</th>
                                <th>Hora</th>
                                <th>Editar</th>
                                <th>Eliminar</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for Hora in object_list %}
                              <tr>
                                <td>{{ Hora.Dia }}</td>
                                <td>{{ Hora.Hora }}</td>
                                <td><center><a href="{% url 'Clinica:editar_horario' Hora.pk%}"><span class="ti-pencil"></span></a></center></td>
                                <td><center><a href="{% url 'Clinica:borrar_horario' Hora.pk%}"><span class="mdi mdi-delete-forever"></span></a></center></td>
                              </tr>
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->
  </div>
{% endblock contenido%}
