{% extends "utilities/base.html" %}

{% block titulo %}Lista de Doctores {% endblock %}

{% block contenido %}
  <div class="container-fluid">
      <div class="page-head">
        <h1>Lista de docotores</h1>
      </div>
      <div class="">
        <table class="table">
          <th>Nombre</th>
          <!--<th>Especialidad</th>-->
          <th>Correo</th>
          <th>Telefono</th>
          {% for Usuario in object_list %}
          <tr>
            <td>{{ Usuario.Nombres }} {{ Usuario.ApellidoPaterno }}</td>
            <td>{{ Usuario.Telefono}}</td>
            <td>{{ Usuario.Correo }}</td>
            <td><a href="{% url 'Clinica:detalles_doctor' Usuario.pk%}">Detalles</a></td>
          </tr>
          {% endfor %}


        </table>
      </div>
  </div><!--end container-->

{% endblock contenido%}
<!--Falta el  Tratamiento el la tabla -->
