{% extends "utilities/base.html" %}

{% block titulo %}Lista de notas{% endblock %}

{% block contenido %}
  <div class="container-fluid">
      <div class="page-head">
        <p class="h2">Lista de notas</p>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card m-b-30">
                <div class="card-body table-responsive">
                    <div class="table-odd">
                        <td><a href="{% url 'Clinica:crear_notas' view.kwargs.id%}"><input type="button" class="btn btn-success btn-sm" style="margin-bottom: 3px; float: right;" name="crear" value="Crear nota"></a></td>
                        <td><a href="{% url 'Clinica:expedientepaciente' view.kwargs.id%}"><input type="button"  class="btn btn-success btn-sm"name="Return" value="Ver paciente"></a></td>
                        <table id="datatable" class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Contenido</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for Nota in object_list %}
                              <tr>
                                <td>{{ Nota.Nota}}</td>
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->
  </div>
{% endblock contenido%}
