{% extends "utilities/base.html" %}

{% block titulo %}Lista de Usuarios{% endblock %}

{% block contenido %}
  <div class="container-fluid">
      <div class="page-head">
        <p class="h2">Lista de usuarios</p>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card m-b-30">
                <div class="card-body table-responsive">
                    <form class="form-group mb-1">
                      <p class="h6" style="display: inline; margin-bottom: 10px;">Ingrese el campo: </p>
                      <input type="text" name="search" id="id_search" class="form-control-sm" style="border: 1px solid #dee2e6; border-width: 1px; margin-bottom: 10px;" placeholder="Buscar..." aria-controls="datatable">
                      <select name="filter_field" id="id_filter_field" aria-controls="datatable" class="form-control-sm" style="margin-bottom: 10px; border: 1px solid #dee2e6;">
                        <option value="all">Todos los campos</option>
                        <option value="Nombres">Nombres</option>
                        <option value="Telefono">email</option>
                        <option value="TipoEmpleado">Tipo de empleado</option>
                      </select>
                      <input type="submit" class="btn btn-success btn-sm" style="margin-bottom: 3px;" value="Buscar">
                      <a href="{% url 'Clinica:nuevo_usuario' %}"><input type="button" class="btn btn-success btn-sm" style="margin-bottom: 3px; float: right;" name="crear" value="Crear usuario"></a>
                    </form>
                    <div class="table-odd">
                        <table id="datatable" class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Nombre</th>
                                <th>Correo</th>
                                <th>Tipo de Cuenta</th>
                                <th>Creacion</th>
                                <th>Detalles</th>
                                <th>Editar</th>
                                <th>Cambiar<br> Contrasena</th>
                                <th>Eliminar</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for Usuario in object_list %}
                              <tr>
                                <td>{{ Usuario.Nombres }} {{ Usuario.ApellidoPaterno }}</td>
                                <td>{{ Usuario.email }}</td>
                                <td>
                                  {% if Usuario.TipoEmpleado == 'R' %}
                                    Recepcionista
                                  {% elif Usuario.TipoEmpleado == 'D' %}
                                    Doctor
                                  {% else %}
                                    Administrador
                                  {% endif %}
                                </td>
                                <td>{{ Usuario.date_joined }}</td>
                                <td><center><a href="{% url 'Clinica:detalles_usuario' Usuario.pk%}"><span class="mdi mdi-eye"></span></a></center></td>
                                <td><center><a href="{% url 'Clinica:editar_usuario' Usuario.pk%}"><span class="ti-pencil"></span></a></center></td>
                                <td><center><a href="{% url 'Clinica:cambiar_contrasena' Usuario.pk%}"><span class="ti-pencil"></span></a></center></td>
                                <td><center><a href="{% url 'Clinica:borrar_usuario' Usuario.pk%}"><span class="mdi mdi-delete-forever"></span></a></center></td>
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
      </div><!--end row-->
  </div>
{% endblock contenido%}
