{% extends "utilities/base.html" %}

{% block titulo %}Lista de pacientes{% endblock %}

{% block contenido %}
  <div class="container-fluid">
      <div class="page-head">
        <h2>Lista de pacientes</h>
      </div>
      <div class="">
        <h5>Ingrese el campo</h5>
        <form class="row">
            {{ form.search }}
            {{ form.filter_field }}<br>
            <input type="submit" class="btn btn-success" value="Buscar">

            <a href="{% url 'Clinica:crear_paciente' %}"><input type="button"  class="btn btn-success" name="crear" value="Crear usuario"></a>
        </form>
        <table id="table_id" class="table table-striped table-sm table-bordered">
          <th>Nombre</th>
          <th>Teléfono</th>
          <th>Correo</th>
          <th>Detalles</th>
          <th>Editar</th>
          
          {% for ExpedientePaciente in object_list %}
          <tr>
            <td>{{ ExpedientePaciente.Nombres }} {{ ExpedientePaciente.ApellidoPaterno }}</td>
            <td>{{ ExpedientePaciente.Telefono}}</td>
            <td>{{ ExpedientePaciente.Correo }}</td>
            <td><a href="{% url 'Clinica:detalles_paciente' ExpedientePaciente.pk%}">Detalles</a></td>
            <td><a href="{% url 'Clinica:editar_paciente' ExpedientePaciente.pk%}">Editar</a></td>
          </tr>
          {% endfor %}
        </table>
      </div>
  </div><!--end container-->

{% endblock contenido%}
<!--Falta el borrar paciente y poner funcionales editar y crear cita-->
