{% extends "utilities/base.html" %}

{% block titulo %}Lista de usuarios{% endblock %}

{% block contenido %}
<div class="container-fluid">
      <div class="page-head">
        <h1>Lista de usuarios</h1>

      </div>
      <div class="">
        <form class="form-group mb-1">
          <h5>Ingrese el campo</h5>
            {{ form.search }}
            {{ form.filter_field }}
            <input type="submit" class="btn btn-success btn-rounded" value="Buscar">
        </form>
        <a href="{% url 'Clinica:nuevo_usuario' %}"><input type="button" class="btn btn-success" name="crear" value="Crear usuario"></a>
        <table id="table_id" class="table table-striped table-sm table-bordered">
          <th>Nombre</th>
          <th>Correo</th>
          <th>Tipo de Cuenta</th>
          <th>Creacion</th>
          <th>Detalles</th>
          <th>Editar</th>
          <th>Eliminar</th>
          {% for Usuario in object_list %}
          <tr>
            <td>{{ Usuario.Nombres }} {{ Usuario.ApellidoPaterno }}</td>
            <td>{{ Usuario.email }}</td>
            <td>{{ Usuario.TipoEmpleado }}</td>
            <td>{{ Usuario.date_joined }}</td>
            <td><a href="{% url 'Clinica:detalles_usuario' Usuario.pk%}">Detalles</a> <i class="mdi mdi-dots-vertical"></i></td>
            <td><a href="{% url 'Clinica:editar_usuario' Usuario.pk%}">Editar</a> <i class="mdi mdi-border-color"></i></td>
            <td><a href="{% url 'Clinica:borrar_usuario' Usuario.pk%}">Eliminar</a> <i class="mdi mdi-delete-forever"></i></td>
          </tr>
          {% endfor %}
        </table>
      </div>
  </div><!--end container-->

{% endblock contenido%}
