{% extends "utilities/base.html" %}

{% block titulo %}Lista de tratamientos{% endblock %}

{% block contenido %}
  <div class="container-fluid">
      <div class="page-head">
        <p class="h1">Lista de doctores</p>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
            <div class="card m-b-30">
                <div class="card-body table-responsive">
                    <form class="form-group mb-1">
                      <p class="h6" style="display: inline; margin-bottom: 10px;">Ingrese el campo: </p>
                      <input type="text" name="search" id="id_search" class="form-control-sm" style="border: 1px solid #dee2e6; border-width: 1px; margin-bottom: 10px;" placeholder="Buscar..." aria-controls="datatable">
                      <select name="filter_field" id="id_filter_field" aria-controls="datatable" class="form-control-sm" style="margin-bottom: 10px; border: 1px solid #dee2e6;">
                        <option value="all">Todos los campos</option>
                        <option value="Nombres">Nombres</option>
                        <option value="email">Correo</option>
                        <option value="Telefono">Teléfono</option>
                      </select>
                      <input type="submit" class="btn btn-success btn-sm" style="margin-bottom: 3px;" value="Buscar">
                    </form>
                    <div class="table-odd">
                        <table id="datatable" class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Nombre</th>
                                <th>Especialidad</th>
                                <th>Correo</th>
                                <th>Telefono</th>
                                <th>Detalles</th>
                              </tr>
                            </thead>
                            <tbody>
                              {% for Doctor in object_list %}
                              <tr>
                                <td>{{ Doctor.Usuario.Nombres }} {{ Doctor.Usuario.ApellidoPaterno }}</td>
                                <td>{{ Doctor.Especialidad }}</td>
                                <td>{{ Doctor.Usuario.email }}</td>
                                <td>{{ Doctor.Usuario.Telefono}}</td>
                                <td><center><a href="{% url 'Clinica:detalles_doctor' Doctor.pk%}"><span class="mdi mdi-eye"></span></a></center></td>
                              </tr>
                              {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end row-->
  </div>
{% endblock contenido%}
