{% extends "utilities/base.html" %}

{% block titulo %}Crear usuario{% endblock %}
{% endblock contenido%}
                <div class="page-head">
            </div><!--end container-->
                    <h2 class="my-2">Crear nuevo usuario</h2>
            <div class="container-fluid">
                      {% csrf_token %}
                    <form method="post">
                      {{ form }}<br>
                      <button type="submit" class="btn btn-success btn-rounded">Crear</button>
                    </form>
                      <a href="{% url 'Clinica:lista_usuarios' %}"><input type="button" class="btn btn-danger btn-rounded" name="Cancel" value="Cancelar"></a>
                </div>