{% extends "utilities/base.html" %}

{% block contenido %}
<div class="container-fluid">
    <div class="page-head">
        <p class="h1">Crear usuario</p>
        <div class="row">
          <div class="col-lg-12 col-sm-12">
              <div class="card m-b-30">
                  <div class="card-body table-responsive">
                    <form method="post">
                      {% csrf_token %}
                      <p class="h6" style="display: inline; margin-bottom: 10px;">Usuario: </p>
                      <input type="text" name="username" id="id_username" class="form-control-sm" style="border: 1px solid #dee2e6; border-width: 1px; margin-bottom: 10px;" placeholder="Buscar..." aria-controls="datatable">
                      <p class="h6" style="display: inline; margin-bottom: 10px;">Contraseña: </p>
                      <input type="password" name="password1" id="id_password1" class="form-control-sm" style="border: 1px solid #dee2e6; border-width: 1px; margin-bottom: 10px;" placeholder="Buscar..." aria-controls="datatable">
                      <p class="h6" style="display: inline; margin-bottom: 10px;">Confirmar contraseña: </p>
                      <input type="password" name="password2" id="id_password2" class="form-control-sm" style="border: 1px solid #dee2e6; border-width: 1px; margin-bottom: 10px;" placeholder="Buscar..." aria-controls="datatable">
                      <p class="h6" style="display: inline; margin-bottom: 10px;">Tipo empleado: </p>
                      <select name="TipoEmpleado" id="id_TipoEmpleado" aria-controls="datatable" class="form-control-sm" style="margin-bottom: 10px; border: 1px solid #dee2e6;">
                        <option value="R">Recepcionista</option>
                        <option value="D">Doctor</option>
                      </select>
                      <p class="h6" style="margin-bottom: 5px;">Nombre: </p>
                      <input type="text" name="Nombres" id="id_Nombres" class="form-control form-control-sm" style="display: inline; border: 1px solid #dee2e6; border-width: 1px; margin-bottom: 10px;" placeholder="Nombre(s)..." aria-controls="datatable">
                      <p class="h6" style="margin-bottom: 5px;">Apellido Paterno: </p>
                      <input type="text" name="ApellidoPaterno" id="id_ApellidoPaterno" class="form-control form-control-sm" style="display: inline; border: 1px solid #dee2e6; border-width: 1px; margin-bottom: 10px;" placeholder="Apellido Paterno..." aria-controls="datatable">
                      <p class="h6" style="margin-bottom: 5px;">Apellido Materno: </p>
                      <input type="text" name="ApellidoMaterno" id="id_ApellidoMaterno" class="form-control form-control-sm" style="display: inline; border: 1px solid #dee2e6; border-width: 1px; margin-bottom: 15px;" placeholder="Apellido Materno..." aria-controls="datatable">
                      <br>
                      <p class="h6" style="display: inline; margin-bottom: 10px;">Género: </p>
                      <select name="Genero" id="id_Genero" aria-controls="datatable" class="form-control-sm" style="margin-bottom: 10px; border: 1px solid #dee2e6;">
                        <option value="H">Hombre</option>
                        <option value="M">Mujer</option>
                      </select>
                      <p class="h6" style="display: inline; margin-bottom: 10px;">Fecha de nacimiento: </p>
                      <input type="date" name="Nacimiento" required="" id="id_Nacimiento" class="form-control-sm" style="margin-bottom: 5px; border: 1px solid #dee2e6;">
                      <p class="h6" style="margin-bottom: 5px;">Correo: </p>
                      <input type="text" name="email" id="id_email" class="form-control form-control-sm" style="display: inline; border: 1px solid #dee2e6; border-width: 1px; margin-bottom: 10px;" placeholder="correo@dominio.com..." aria-controls="datatable">
                      <p class="h6" style="margin-bottom: 5px;">Teléfono: </p>
                      <input type="text" name="Telefono" id="id_Telefono" class="form-control form-control-sm" style="display: inline; border: 1px solid #dee2e6; border-width: 1px; margin-bottom: 10px;" placeholder="Teléfono..." aria-controls="datatable">
                      <br><br>
                      <button type="submit" class="btn btn-success">Crear</button>
                      <a href="{% url 'Clinica:lista_usuarios' %}"><input type="button" class="btn btn-danger" name="Cancel" value="Cancelar"></a>
                    </form>
                  </div>
              </div>
          </div>
      </div><!--end row-->
    </div>
</div>
{% endblock contenido%}
