{% extends "utilities/base.html" %}

{% block titulo %}Crear usuario{% endblock %}

{% block contenido%}
{% csrf_token %}
<div class="container-fluid">
    <div class="page-head">
        <h2 class="my-2">Crear nuevo usuario</h2>
        <form method="post">
          {% csrf_token %}
          {{ form }}<br>
          <button type="submit" class="btn btn-success btn-rounded">Crear</button>
          <a href="{% url 'Clinica:lista_usuarios' %}"><input type="button" class="btn btn-danger btn-rounded" name="Cancel" value="Cancelar"></a>
        </form>
    </div>
</div>
{% endblock contenido%}
