{% extends "utilities/base.html" %}.
{% load static %}
{% block titulo %}Perfil del doctor{% endblock %}

{% block contenido %}
<div class="container-fluid">
  <div class="page-head">
    <h1>Perfil del doctor</h1>
  </div>
  <div class="modal-1" tabindex="-1" role="dialog">
      <div class="modal-dialog mb-0" role="document">
          <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title">{{  object.Usuario.Nombres}} </h5>
              </div>
              <div class="modal-body">
                <div class="h5"></div>
                
                ApellidoPaterno: {{ object.Usuario.ApellidoPaterno}}<br>
                ApellidoMaterno: {{ object.Usuario.ApellidoMaterno}}<br>
                Genero: {{ object.Usuario.Genero}}<br>
                Correo: {{ object.Usuario.email}}<br>
                Telefono: {{ object.Usuario.Telefono}}<br>
                Especialidad: {{ object.Especialidad}}<br>
        
                <table class="table">
                <th>Tratamientos que realiza</th>
                {% for Tratamiento in object.Tratamientos.all %}
                    <tr>
                      <td>{{ Tratamiento }}</td>
                    </tr>
                  {% endfor %}
                  </table>
                  {% load filters %}
                </div>
              <div class="modal-footer">
                  <a href="{% url 'Clinica:editar_perfil' user.id|pk_doctor  %}"><input type="button" class= "btn btn-success" name="Return" value="Editar"></a>
              </div>
          </div>
      </div>
  </div>                                                           
</div><!--end container-->
{% endblock contenido%}